.smartphone {
    position: relative;
    width: 250px;
    height: 460px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
    background-color: #c8c8c8;
    float: left;
}

/* The horizontal line on the top of the device */
.smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
    width: 360px;
    height: 640px;
    background: white;
}


#btn_pattern1:hover ~ #smartphone {
    animation: shake 0.5s;
    animation-iteration-count: 4;
}

#btn_pattern2:hover ~ #smartphone {
    animation: shake 0.5s;
    animation-iteration-count: 10;
}

#btn_pattern3:hover ~ #smartphone {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% { transform: translate(1px, 0px) }
    10% { transform: translate(-1px, 0px) }
    20% { transform: translate(-3px, 0px) }
    30% { transform: translate(3px, 0px) }
    40% { transform: translate(1px, 0px) }
    50% { transform: translate(-1px, 0px) }
    60% { transform: translate(-3px, 0px) }
    70% { transform: translate(3px, 0px) }
    80% { transform: translate(-1px, 0px) }
    90% { transform: translate(1px, 0px) }
    100% { transform: translate(1px, 0px) }
}

#instructions{
    padding-bottom: 20px;
    font-size: 20px;
}

.contentarea {
    font-size: 16px;
    font-family: "Lucida Grande", "Arial", sans-serif;
}

