# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Matteo\Università\Politecnico di Torino\Magistrale\5° semestre 2020_2021\Collaborazioni\Human Computer Interaction\Projects\vibration-sample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
